<%= form_for(Workspace.new,url: {action:"search"}) do |f| %>
    
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

  <div>
  
  <%= button_to "Search", action: "search" %>
  </div>
   
  <% end %>
  <%= link_to 'Back', workspaces_path %>

