<<<<<<< HEAD
<div class="d-flex justify-content-center">
  <%= form_for @workspace do |form| %>
    <div class="row">
    <div class="col-md-4">
  <div class="form-inline">
    <%= form.label :Workspace_Name %>
    <%= form.text_field :name,class: 'form-control form-control-sm', placeholder: 'Eg. CMM' %>
  </div>
  <br> 
  <div class="form-inline">
    <%= form.submit "Update", class: "btn btn-primary" %>
    <%= form.submit "Cancel", class: "btn btn-primary" %>
  </div>
  </div>
  </div>
<% end %>
=======
<%= form_with(model: workspace, local: true) do |form| %>
    <% if workspace.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(workspace.errors.count, "error") %> prohibited this workspace from being saved:</h2>
        <ul>
        <% workspace.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>


      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
>>>>>>> 0bb737eadc9477c6f7a969d69685be7696993344
