<%= form_with(model: workspace, local: true) do |form| %>

    <% if workspace.errors.any? %>


      <div id="error_explanation">
        <h2><%= pluralize(workspace.errors.count, "error") %> prohibited this workspace from being saved:</h2>
        <ul>
        <% workspace.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

<<<<<<< HEAD
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
    
      <div class="field">
        <%= form.label :admin %>
        <%= form.check_box :admin %>
      </div>
    
      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
    
   
      
  
=======
 
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
>>>>>>> fa35f9f285bf7eb9f47aa8a0e5de6941365353d5

