<%= form_for @workspace do |form| %>
  <div class="field">
    <%= form.label :Workspace_Name %>
    <%= form.text_field :name %>
  </div>
<<<<<<< HEAD
 
=======

>>>>>>> 1b66cd74d13fda32958a60c9f849d70aa5096cfe
  
  <div>
  <%= form.submit "Create", class: "btn btn-primary" %>
  <%= form.submit "Cancel", class: "btn btn-primary" %>
</div>
<% end %>