<%= form_with(model: workspace, local: true) do |form| %>

    <div class="field">


    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :admin %>
    <%= form.check_box :admin %>
  </div>
 
  <div class="actions">
  <%= link_to "Create",    'login',class: "btn btn-lg btn-primary" %>
  
    <%= link_to "Cancel",    'home',class: "btn btn-lg btn-primary" %>
  </div>
<% end %>