<<<<<<< HEAD
<%= form_with(model: workspace, local: true) do |form| %>

    <div class="field">


    <%= form.label :name %>
=======
    <%= form_for @workspace do |form| %>
  <div class="field">
    <%= form.label :Workspace_Name %>
>>>>>>> fa35f9f285bf7eb9f47aa8a0e5de6941365353d5
    <%= form.text_field :name %>
  </div>

<<<<<<< HEAD
=======
  <div class="field">
    <%= form.label :Admin %>
    <%= form.check_box :admin %>
  </div>
 
  <div class="actions">
  <%= link_to "Create",    'login',class: "btn btn-lg btn-primary" %>
>>>>>>> fef54ffa1db0850f8036f16f4762838a88fa1a37
  
  <div>
  <%= form.submit "Create", class: "btn btn-primary" %>
  <%= form.submit "Cancel", class: "btn btn-primary" %>
</div>
<% end %>