<%= form_for @workspace do |form| %>
  <div class="field">
    <%= form.label :Workspace_Name %>
    <%= form.text_field :name %>
  </div>  
  <div>
  <%= form.submit "Create", class: "btn btn-primary" %>
  <%= form.submit "Cancel", class: "btn btn-primary" %>

  </div>
<% end %>