<h2><%= t('create_your_workspace') %></h2>
<div class="newworkspace">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @workspace, url: {action: "create"} do |form| %>     
      <%= form.label :"#{t('workspace_name')}" %>
      <%= form.text_field :name,class:"form-control" , placeholder: 'Eg. CMM' %>
      <% if @workspace.errors.any? %>
        <div id="errorExplanation">
          <ul>
            <% @workspace.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>     
      <br>
      <%= form.submit "#{t('create')}", class: "btn btn-primary" %>
      <%= link_to "#{t('cancel')}", new_static_page_path, class:"btn btn-primary margin-left" %> 
    <% end %>
  </div>
</div>
     
      


