<h2>CMM Chat Application</h2>
  <nav class="navbar navbar-expand-lg bg-light navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><%= current_user.name %></a>
        </li>

        <li class="nav-item">
          <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= @workspace.name %>
              </a>              
              <div class="dropdown-menu" >                     
                <%= link_to 'Edit', edit_workspace_path,class: "dropdown-item" %>
                <%= link_to 'Destroy', workspace_path, method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %></td>
                <%= link_to 'Invite',workspace_userworkspace_index_path(@workspace.id),class: "dropdown-item" %></br>
              </div> 
          </div> 
        </li>

        <li class="nav-item">   
          <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Group
              </a>
              <div class="dropdown-menu">                  
                 <%= link_to "Create", new_group_path,class: "dropdown-item" %>
              </div>
          </div>    
        </li> 
        <li class="nav-item">
        <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Friend</a>
          <div class="dropdown-menu">                  
            
           <% if !@userworkspace.nil? %>
            <% @userworkspace.each do |wkuser| %>
                <% if wkuser.level == "owner" %>
                   <span><%= wkuser.user.name %>-(You)</span><br>     
                <% end %>
               
                <% if wkuser.level == "member" %>
                   <span><%= wkuser.user.name %></span><br>
              
                <% end %>
                
                <% end %>
                <% end %>
              
                   
          </div>
        </div>
        </li>       

        <li class="nav-item">
          <a class="nav-link" href="#">Starred</a>
        </li>    

        <li class="nav-item">
        <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About</a>
          <div class="dropdown-menu">                  
           <div id="about-container">
           <p><h4>TEAM 5 </h4></p>
           <p>Shoon Lae Khaing</p>
           <p>Yin Nyein Aye</p>
           <p>Zin Zin Myo Lwin</p>
           <p>May Thu Myat</p>
         </div>
         </div>
         </div>
        </li>

        <li class="nav-item">
          <%= link_to('Logout', logout_path, method: :delete) %>  
        </li> 
    </ul>
  </nav>
  <div class="wrapper"> 
      <nav id="sidebar"> 
        <h4>Groups </h4>  
          <ul class="sidebarul">
           
              <% @group.each do |groups| %>
              <li>
              <div class="dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=  groups.name %></a>
              <div class="dropdown-menu">
              <ul>
              <%= link_to fa_icon("pencil"),edit_group_path(groups.id),class: "dropdown-item" %><span>Edit</span>
              <%= link_to fa_icon("trash-o"), group_path(groups.id), method: :delete, data: { confirm: 'Are you sure?' },class: "dropdown-item" %><span>Delete</span>
              <%= link_to fa_icon("user-plus"),group_groupuser_index_path(groups.id),class: "dropdown-item" %><span>Invite</span>
              <%= link_to fa_icon("envelope"),group_path(groups),class: "dropdown-item" %><span>Message</span><br>
              
          
              </ul>
              </div>
              </div>
              </li>
              <% end %>  
              
              

          </ul>   
      </nav>
  </div>
  


