<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-8">
        <table class="table table-hover">
          <thead>
            <tr>
                <th>No</th>
                <th>Name</th>
                <th> </th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
             <tr>
                       <td><%= user.id %></td>
                       <td><%= user.name %></td>
                       <td>
                    
                       <% if !user.userworkspaces.find_by(workspace_id: params[:workspace_id]).nil? %>
                        <% if user.userworkspaces.find_by(workspace_id: params[:workspace_id]).level=="member" %>  
   <%= link_to "Uninvite",workspace_userworkspace_path(params[:workspace_id], user), method: :put, class: "btn btn-primary btn-sm", id: user.id %>    
                        <% end %>
                       
                       <% if user.userworkspaces.find_by(workspace_id: params[:workspace_id]).level.empty? %>
    <%= link_to "Invite",workspace_userworkspace_path(params[:workspace_id], user), method: :put, class: "btn btn-primary btn-sm", id: user.id %>
                       <% end %>
                       <% end %>
   
                       <% if user.userworkspaces.find_by(workspace_id: params[:workspace_id]).nil? %> 
   <%= link_to "Invite",workspace_userworkspace_path(params[:workspace_id], user), method: :put, class: "btn btn-primary btn-sm", id: user.id %>
                       <% end %>
   
                       </td>
                               
                       </tr>
                       <% end %>
                       
               </tbody>
           </table>
           <%= link_to 'Back', @workspace %>
   </div>
   
   </div>
   
   </div>


