<h2>Create Group</h2>
<div class="newgroup">
  <%= form_for(@group, url: {action:"create"}) do |form| %>
    <div class="field">
      <%= form.label :Group_Name, class: "col-md-4 control-label" %>
        <div class="col-lg-5">
           <%= form.text_field :name, name:"name", class: "form-control" %>
        </div>
    </div>
    
    <div class="form-group">
      <%= form.label :Purpose, class: "col-md-4 control-label" %>
        <div class="col-lg-5">
          <%= form.text_field :purpose, name:"purpose",class: "form-control" %>
        </div>
    </div>

    <div>
        <%= form.hidden_field :workspace_id, value: @workspace.id ,name:"workspace_id" %>
    </div>

    <div class="col-lg-5">
      <%= radio_button_tag(:ass_typ, "true") %>Public
      <%= radio_button_tag(:ass_typ, "false") %>Private
    </div> 

    <% if @group.errors.any? %>
          <div id="errorExplanation">
            <ul>
              <% @group.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
    <% end %>   
    
    <p id="demo"></p>
 
    <div class="col-lg-5">
      <%= form.submit "Create", class: "btn btn-primary" %>
      <%= link_to "Cancel",   @workspace , class:"btn btn-primary margin-left" %> 
    </div>
  <% end %>
</div>
<script>  
function add_ass_typ(a){      
    }
</script>
  

 

