<!DOCTYPE html>
<html>
  <head>
    <title><%= t('cmm') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>
    <div class="language">    
    <%= link_to "English",{:locale=>'en'} %>|    
    <%= link_to  "日本語",{:locale=>'ja'}  %>
   </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>  
  </body>
</html>
